<head>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>

    <link rel="stylesheet" href="../css/style.css"/>
</head>

<h2>관리자 페이지</h2>

<h2>가입 대기 목록</h2>

    <div>
      <p class="meta">${#id}</p>
      <p class="meta">${#role}</p>
      <p class="meta">${#nickname}</p>
    </div>

<script>
// -----------------------------[로드시 실행]-------------------------------------------------
$(document).ready(function(){
  var settings = document.location.href.split("?");
      console.log(settings)
// ----------------------------------[ajax get 시작]--------------------------------------------
var settings = {
    "url": "http://localhost:8080/api/manager/standby",
    "method": "GET",
    "timeout": 0, 
};

$.ajax(settings).done(function (response) {

  console.log(response);

let id = response['id']
let role = response['role']
let nickname = response['nickname']
})
});
</script>