<head>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>

    <link rel="stylesheet" href="../css/style.css" />
</head>

<p class="tip">Click on button in image container</p>
<div class="cont">
  <div class="form sign-in">
    <h2>로그인</h2>
    <label>
      <span>ID</span>
      <input type="text" id="logInID"/>
    </label>
    <label>
      <span>비밀번호</span>
      <input type="password" id="logInpassword" />
    </label>
    <p class="forgot-pass">비밀번호 찾기</p>
    <button type="button" class="submit" onclick="logIn()">로그인</button>
    <button class="fb-btn" id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=adacc39e0738d79ed04fd79995f809d3&redirect_uri=http://localhost:8080/api/user/kakao/callback&response_type=code'">카카오로 로그인하기</button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>제목</h2>
        <p>내용</p>
      </div>
      <div class="img__text m--in">
        <h2>제목</h2>
        <p>내용</p>
      </div>
      <div class="img__btn">
        <span class="m--up">회원가입</span>
        <span class="m--in">로그인</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>회원가입</h2>
      <label>
        <span>ID</span>
        <input type="text" id="username"/>
      </label>
      <label>
        <span>비밀번호</span>
        <input type="password" id="password"/>
      </label>
      <label>
        <span>비밀번호 확인 </span>
        <input type="password" id="password2"/>
      </label>
      <label>
        <span>닉네임</span>
        <input type="text" id="nickName"/>
      </label>
      <label>
        <span>핸드폰번호</span>
        <input type="text" id="phoneNumber"/>
      </label>
      <label>
        <span>이메일</span>
        <input type="email" id="email"/>
      </label>
      <button type="button" class="submit" onclick="signUp()">가입하기</button>
      <button type="button" class="fb-btn">카카오톡으로 가입하기 </button>
    </div>
  </div>
</div>

<script>
document.querySelector('.img__btn').addEventListener('click', function() {
    document.querySelector('.cont').classList.toggle('s--signup');
});

// 회원가입
function signUp() {
    var settings = {
  "url": "http://localhost:8080/api/user/signup",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "username": $('#username').val(),
    "password": $('#password').val(),
    "password2": $('#password2').val(),
    "nickName": $('#nickName').val(),
    "phoneNumber": $('#phoneNumber').val(),
    "email": $('#email').val()
  }),
};

$.ajax(settings).done(function (response) {
  console.log(response);
  alert("회원가입 완료")
  document.querySelector('.cont').classList.toggle('s--signup');
});
}


// 로그인
function logIn() {
    var settings = {
  "url": "http://localhost:8080/api/user/login",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "username": $('#logInID').val(),
    "password": $('#logInpassword').val()
  }),
};

$.ajax(settings).done(function (response, status, xhr) {
  console.log(response);
  console.log(xhr.getResponseHeader('Authorization'))
  localStorage.setItem('accessToken', xhr.getResponseHeader('Authorization'))
  alert("로그인 완료")
    window.location = 'index.html'
}).fail(function(response) {
    console.log(response.responseJSON);
    if(response.responseJSON.statusCode === 400) {
        alert("ID와 비밀번호를 확인하여주세요.")
    } else {
        alert("ID와 비밀번호를 확인하여주세요.");
    }
});
}

</script>